# Домашнее задание по теме «Рекомендации на основе содержания»


    1 Использовать dataset MovieLens
    2 Построить рекомендации (регрессия, предсказываем оценку) на фичах:

    TF-IDF на тегах и жанрах
    Средние оценки (+ median, variance, etc.) пользователя и фильма

    3 Оценить RMSE на тестовой выборке

In [105]:
import pandas as pd
import numpy as np
from datetime import datetime

from tqdm import tqdm_notebook

import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer
from sklearn.neighbors import NearestNeighbors

%matplotlib inline

In [106]:
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [107]:
# ratings

In [108]:
# tags

In [109]:
# movies

In [110]:
movies_with_tags = movies.join(tags.set_index('movieId'), on='movieId')

In [111]:
movies_with_tags

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,1.139046e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474.0,pixar,1.137207e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567.0,fun,1.525286e+09
1,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,fantasy,1.528844e+09
1,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,magic board game,1.528844e+09
...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,NaN,NaN,NaN
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,NaN,NaN,NaN
9739,193585,Flint (2017),Drama,NaN,NaN,NaN
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,NaN,NaN,NaN
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,NaN,NaN,NaN

In [112]:
# ratings

In [113]:
data = movies_with_tags.merge(ratings, on=['movieId', 'userId'])

In [114]:
data

,movieId,title,genres,userId,tag,timestamp_x,rating,timestamp_y
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,1.139046e+09,4.0,1122227329
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474.0,pixar,1.137207e+09,4.0,978575760
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567.0,fun,1.525286e+09,3.5,1525286001
3,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,fantasy,1.528844e+09,4.0,1528843890
4,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,magic board game,1.528844e+09,4.0,1528843890
...,...,...,...,...,...,...,...,...
3471,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,62.0,star wars,1.528935e+09,4.0,1528934550
3472,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,anime,1.537099e+09,3.5,1537098554
3473,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,comedy,1.537099e+09,3.5,1537098554
3474,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,gintama,1.537099e+09,3.5,1537098554
3475,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,remaster,1.537099e+09,3.5,1537098554

In [115]:
data.drop(['timestamp_x', 'timestamp_y'], axis=1, inplace=True)

In [116]:
data

,movieId,title,genres,userId,tag,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,4.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474.0,pixar,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567.0,fun,3.5
3,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,fantasy,4.0
4,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,magic board game,4.0
...,...,...,...,...,...,...
3471,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,62.0,star wars,4.0
3472,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,anime,3.5
3473,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,comedy,3.5
3474,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,gintama,3.5
3475,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,remaster,3.5

In [117]:
# найдем средние оценки по фильмам

In [118]:
m_film_rating = data.groupby('movieId').agg(['mean']).drop(['userId'], axis=1)

In [119]:
m_film_rating.reset_index(inplace=True)

In [120]:
# m_film_rating

In [121]:
m_film_rating.columns = ['movieId', 'movie_mean']

In [122]:
# m_film_rating

In [123]:
#найдем средние оценки, которые ставит пользователь

In [124]:
m_user_rating = data.groupby('userId').agg(['mean']).drop(['movieId'], axis=1)

In [125]:
m_user_rating.reset_index(inplace=True)

In [126]:
m_user_rating.columns = ['userId', 'user_mean']

In [127]:
# m_user_rating

In [128]:
# data

In [129]:
data = data.merge(m_film_rating, on='movieId').merge(m_user_rating, on='userId')

In [130]:
data

,movieId,title,genres,userId,tag,rating,movie_mean,user_mean
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,4.0,3.833333,3.777778
1,552,"Three Musketeers, The (1993)",Action|Adventure|Comedy|Romance,336.0,knights,3.0,3.000000,3.777778
2,1246,Dead Poets Society (1989),Drama,336.0,highschool,4.5,4.500000,3.777778
3,32587,Sin City (2005),Action|Crime|Film-Noir|Mystery|Thriller,336.0,cult,4.0,4.000000,3.777778
4,33660,Cinderella Man (2005),Drama|Romance,336.0,boksdrama,4.5,4.250000,3.777778
...,...,...,...,...,...,...,...,...
3471,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,Cambodia,5.0,5.000000,5.000000
3472,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,crime,5.0,5.000000,5.000000
3473,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,human rights,5.0,5.000000,5.000000
3474,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,murder,5.0,5.000000,5.000000
3475,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,procedural,5.0,5.000000,5.000000

TF-IDF на жанрах

In [131]:
def change_string(s):
    return ' '.join(s.replace(' ', '').replace('-', '').split('|'))

In [132]:
movie_genres = [change_string(g) for g in data.genres.values]

In [133]:
# movie_genres[1]

In [134]:
# len(movie_genres)

In [135]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(movie_genres)

In [136]:
# X_train_counts.shape

In [137]:
# X_train_counts.todense()[1]

In [138]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [139]:
# X_train_tfidf.todense()[1]

In [140]:
# pd.DataFrame(X_train_tfidf.todense())

In [141]:
# Поменяем названия столбцов

In [142]:
# функция для переименования столбцов
def ren_col(columns, prefix):
    names = []
    for p in list(columns):
        names.append(prefix+'_{}'.format(p))
#         print(p)
    return names

In [143]:
prefix='genre'
columns= pd.DataFrame(X_train_tfidf.todense()).columns
g_columns = ren_col(pd.DataFrame(X_train_tfidf.todense()).columns, prefix)

In [144]:
tf_g = pd.DataFrame(X_train_tfidf.todense())
tf_g.columns = g_columns
tf_g.head()

,genre_0,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7,genre_8,genre_9,genre_10,genre_11,genre_12,genre_13,genre_14,genre_15,genre_16,genre_17,genre_18,genre_19
0,0.000000,0.379419,0.504921,0.536492,0.292207,0.000000,0.0,0.0000,0.477376,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
1,0.484561,0.543606,0.000000,0.000000,0.418655,0.000000,0.0,0.0000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.542605,0.0,0.000000,0.0,0.0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.0000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3,0.331342,0.000000,0.000000,0.000000,0.000000,0.332872,0.0,0.0000,0.000000,0.716513,0.0,0.0,0.0,0.425705,0.0,0.000000,0.0,0.291191,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.4875,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.873123,0.0,0.000000,0.0,0.0

TF-IDF на тэгах

In [145]:
# movie_tags = [change_string(t) for t in data.tag.values]

In [146]:
# len(movie_tags)

In [147]:
# movie_tags

In [148]:
# count_vect_t = CountVectorizer()
# X_train_counts_t = count_vect_t.fit_transform(movie_tags)

In [149]:
# X_train_counts_t.shape

In [150]:
# X_train_counts_t.todense()

In [151]:
# tfidf_transformer_t = TfidfTransformer()
# X_train_tfidf_t = tfidf_transformer_t.fit_transform(X_train_counts_t)

In [152]:
# pd.DataFrame(X_train_tfidf_t.todense())

In [153]:
# переименуем столбцы

In [154]:
# prefix='tag'
# columns= pd.DataFrame(X_train_tfidf_t.todense()).columns
# t_columns = ren_col(pd.DataFrame(X_train_tfidf_t.todense()), prefix)

In [155]:
# tf_t = pd.DataFrame(X_train_tfidf_t.todense())
# tf_t.columns = t_columns
# tf_t

Объединим в одну таблицу

In [156]:
data = data.join(tf_g)

In [157]:
data

,movieId,title,genres,userId,tag,rating,movie_mean,user_mean,genre_0,genre_1,...,genre_10,genre_11,genre_12,genre_13,genre_14,genre_15,genre_16,genre_17,genre_18,genre_19
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,4.0,3.833333,3.777778,0.000000,0.379419,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
1,552,"Three Musketeers, The (1993)",Action|Adventure|Comedy|Romance,336.0,knights,3.0,3.000000,3.777778,0.484561,0.543606,...,0.0,0.0,0.0,0.000000,0.0,0.542605,0.0,0.000000,0.0,0.0
2,1246,Dead Poets Society (1989),Drama,336.0,highschool,4.5,4.500000,3.777778,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3,32587,Sin City (2005),Action|Crime|Film-Noir|Mystery|Thriller,336.0,cult,4.0,4.000000,3.777778,0.331342,0.000000,...,0.0,0.0,0.0,0.425705,0.0,0.000000,0.0,0.291191,0.0,0.0
4,33660,Cinderella Man (2005),Drama|Romance,336.0,boksdrama,4.5,4.250000,3.777778,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.873123,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3471,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,Cambodia,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3472,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,crime,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3473,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,human rights,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3474,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,murder,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3475,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,procedural,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0

Найдем пользователя, который поставил наибольшее количество оценок

In [158]:
data.groupby('userId').count()['rating'].sort_values(ascending=False).head()

userId
474.0    1414
567.0     432
62.0      370
599.0     323
477.0     267
Name: rating, dtype: int64

Отфильтруем наши данные для пользователя 474

In [159]:
usr_data = data[data['userId'] == 474]

In [160]:
usr_data

,movieId,title,genres,userId,tag,rating,movie_mean,user_mean,genre_0,genre_1,...,genre_10,genre_11,genre_12,genre_13,genre_14,genre_15,genre_16,genre_17,genre_18,genre_19
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474.0,pixar,4.0,3.833333,3.701909,0.000000,0.379419,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
10,2,Jumanji (1995),Adventure|Children|Fantasy,474.0,game,3.0,3.750000,3.701909,0.000000,0.467149,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
11,5,Father of the Bride Part II (1995),Comedy,474.0,pregnancy,1.5,1.500000,3.701909,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
12,5,Father of the Bride Part II (1995),Comedy,474.0,remake,1.5,1.500000,3.701909,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
13,7,Sabrina (1995),Comedy|Romance,474.0,remake,3.0,3.000000,3.701909,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.791730,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1418,40819,Walk the Line (2005),Drama|Musical|Romance,474.0,Johnny Cash,4.0,4.000000,3.701909,0.000000,0.000000,...,0.0,0.0,0.809012,0.0,0.0,0.513215,0.0,0.000000,0.0,0.0
1419,41566,"Chronicles of Narnia: The Lion, the Witch and ...",Adventure|Children|Fantasy,474.0,C.S. Lewis,4.5,4.500000,3.701909,0.000000,0.467149,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1420,41997,Munich (2005),Action|Crime|Drama|Thriller,474.0,In Netflix queue,4.0,4.000000,3.701909,0.561435,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.493402,0.0,0.0
1421,42002,"Producers, The (2005)",Comedy|Musical,474.0,In Netflix queue,4.0,4.000000,3.701909,0.000000,0.000000,...,0.0,0.0,0.898182,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1422,42740,Looking for Comedy in the Muslim World (2005),Comedy,474.0,In Netflix queue,3.5,3.500000,3.701909,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0

Выделим входные и выходные данные, разделим на тестовую и обучающую части

In [161]:
y = usr_data['rating']
y

9       4.0
10      3.0
11      1.5
12      1.5
13      3.0
       ...
1418    4.0
1419    4.5
1420    4.0
1421    4.0
1422    3.5
Name: rating, Length: 1414, dtype: float64

In [162]:
X = usr_data.iloc[:, 8:28]
X

,genre_0,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7,genre_8,genre_9,genre_10,genre_11,genre_12,genre_13,genre_14,genre_15,genre_16,genre_17,genre_18,genre_19
9,0.000000,0.379419,0.504921,0.536492,0.292207,0.000000,0.0,0.000000,0.477376,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
10,0.000000,0.467149,0.000000,0.660541,0.000000,0.000000,0.0,0.000000,0.587756,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
11,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
12,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
13,0.000000,0.000000,0.000000,0.000000,0.610872,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.791730,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1418,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.286548,0.000000,0.0,0.0,0.0,0.809012,0.0,0.0,0.513215,0.0,0.000000,0.0,0.0
1419,0.000000,0.467149,0.000000,0.660541,0.000000,0.000000,0.0,0.000000,0.587756,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1420,0.561435,0.000000,0.000000,0.000000,0.000000,0.564029,0.0,0.351021,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.493402,0.0,0.0
1421,0.000000,0.000000,0.000000,0.000000,0.439624,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.898182,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1422,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0

In [163]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse

In [164]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

Обучим модель, проверим rmse

In [165]:
model = LinearRegression().fit(X_train, y_train)

In [166]:
y_pred_test = model.predict(X_test)
y_pred_train = model.predict(X_train)

In [167]:
mse(y_test, y_pred_test, squared=False)

0.8403475431536112

In [168]:
# y_pred_test

In [169]:
# usr_data['rating'].unique()

Отфильтруем данные, для фильмов, которые не смотрел пользователь 474

In [170]:
not_usr_data = data[data['userId'] != 474]

In [171]:
not_usr_data

,movieId,title,genres,userId,tag,rating,movie_mean,user_mean,genre_0,genre_1,...,genre_10,genre_11,genre_12,genre_13,genre_14,genre_15,genre_16,genre_17,genre_18,genre_19
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,4.0,3.833333,3.777778,0.000000,0.379419,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
1,552,"Three Musketeers, The (1993)",Action|Adventure|Comedy|Romance,336.0,knights,3.0,3.000000,3.777778,0.484561,0.543606,...,0.0,0.0,0.0,0.000000,0.0,0.542605,0.0,0.000000,0.0,0.0
2,1246,Dead Poets Society (1989),Drama,336.0,highschool,4.5,4.500000,3.777778,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3,32587,Sin City (2005),Action|Crime|Film-Noir|Mystery|Thriller,336.0,cult,4.0,4.000000,3.777778,0.331342,0.000000,...,0.0,0.0,0.0,0.425705,0.0,0.000000,0.0,0.291191,0.0,0.0
4,33660,Cinderella Man (2005),Drama|Romance,336.0,boksdrama,4.5,4.250000,3.777778,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.873123,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3471,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,Cambodia,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3472,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,crime,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3473,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,human rights,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3474,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,murder,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3475,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,procedural,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0

предскажем оценки

In [172]:
X_n = not_usr_data.iloc[:, 8:28]

In [173]:
X_n

,genre_0,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7,genre_8,genre_9,genre_10,genre_11,genre_12,genre_13,genre_14,genre_15,genre_16,genre_17,genre_18,genre_19
0,0.000000,0.379419,0.504921,0.536492,0.292207,0.000000,0.0,0.0000,0.477376,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
1,0.484561,0.543606,0.000000,0.000000,0.418655,0.000000,0.0,0.0000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.542605,0.0,0.000000,0.0,0.0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.0000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3,0.331342,0.000000,0.000000,0.000000,0.000000,0.332872,0.0,0.0000,0.000000,0.716513,0.0,0.0,0.0,0.425705,0.0,0.000000,0.0,0.291191,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.4875,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.873123,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3471,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3472,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3473,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3474,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3475,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0

In [174]:
y_pred = model.predict(X_n)

In [175]:
y_pred

array([3.76833274, 3.79624447, 3.84430847, ..., 3.85131108, 3.85131108,
       3.85131108])

In [176]:
y_pred_train

array([3.65382317, 3.16177046, 3.84430847, 3.58998048, 3.84430847,
       4.03918605, 3.16177046, 4.03918605, 3.65382317, 4.35266197,
       3.84430847, 3.82643999, 4.0501543 , 3.83060186, 3.87996414,
       3.83060186, 3.78536084, 3.82643999, 3.98356556, 3.85988654,
       3.43520054, 3.81890444, 3.83060186, 4.16709012, 3.64670861,
       3.87996414, 3.65382317, 3.87996414, 3.18942117, 3.87996414,
       2.91111242, 4.03918605, 3.84430847, 3.91523702, 3.84436809,
       3.49822436, 3.84430847, 2.91111242, 3.65786917, 3.55220479,
       3.7650053 , 3.63325783, 3.65212276, 3.81890444, 3.65786917,
       3.16177046, 3.81614462, 3.79103505, 3.81534126, 3.27304299,
       3.7550868 , 3.76833274, 3.65786917, 3.57218939, 3.84430847,
       3.87996414, 3.84430847, 4.08202946, 4.03918605, 3.84430847,
       3.65382317, 3.16177046, 3.16177046, 3.84430847, 3.84430847,
       3.73330117, 3.16177046, 3.16177046, 3.84430847, 3.94624158,
       3.88763674, 3.85131108, 3.83060186, 3.16177046, 3.65382317,
       3.84430847, 4.05530117, 3.84430847, 3.16177046, 3.48503161,
       3.16177046, 3.611836  , 4.54107895, 3.55220479, 2.934539  ,
       3.53664819, 3.95695358, 3.68538669, 3.64530236, 3.87996414,
       3.52130703, 3.69521494, 4.03918605, 3.84430847, 3.69078906,
       3.84430847, 3.98051374, 3.65382317, 3.93816612, 3.79570796,
       3.84430847, 3.611836  , 3.87996414, 3.16177046, 3.84430847,
       3.16177046, 3.84430847, 3.62246901, 3.84430847, 3.91439567,
       3.57291162, 3.57603691, 3.70668092, 3.66539512, 3.81890444,
       4.05707965, 3.84436809, 3.94405411, 4.03918605, 3.83060186,
       3.55220479, 3.84430847, 3.55220479, 3.55220479, 3.92948001,
       3.55220479, 3.76382907, 4.11029155, 4.03918605, 3.98051374,
       3.55220479, 3.611836  , 3.65382317, 3.91439567, 3.73945161,
       3.94624158, 3.84430847, 3.65382317, 3.84430847, 3.92532107,
       3.94624158, 3.74725823, 3.87996414, 3.65382317, 3.44254043,
       3.99584669, 3.58385704, 3.84430847, 3.43520054, 3.83060186,
       3.16177046, 3.94516058, 3.16177046, 4.05049803, 3.84430847,
       3.20667277, 3.16177046, 4.03918605, 3.58385704, 3.84430847,
       3.16177046, 3.76831748, 3.44331582, 3.76517533, 3.85910731,
       3.65382317, 3.83060186, 3.50272262, 3.85131108, 3.84430847,
       3.85131108, 4.7762707 , 3.65786917, 3.55220479, 3.55220479,
       3.83060186, 3.55220479, 3.65078278, 3.81890444, 3.4159416 ,
       3.39515465, 3.85131108, 3.74562707, 3.84430847, 3.65382317,
       3.84430847, 3.8611566 , 3.84430847, 3.55220479, 3.65382317,
       3.94624158, 4.45897493, 3.16177046, 3.52130703, 3.16177046,
       3.84430847, 3.61974574, 3.85988654, 3.87342321, 3.87996414,
       3.98470321, 3.97729768, 3.84430847, 4.54959698, 4.11029155,
       3.17998799, 3.85131108, 3.16177046, 3.6043286 , 3.84430847,
       3.84430847, 3.78330319, 3.62246901, 3.83060186, 3.59377609,
       3.43816834, 3.68538669, 3.84958948, 4.03918605, 3.84430847,
       3.84430847, 3.82643999, 3.97729768, 3.84430847, 3.18942117,
       3.84430847, 3.38179394, 3.55220479, 3.80612305, 3.76831748,
       3.84430847, 3.98051374, 3.50272262, 3.93285587, 3.87996414,
       3.91500051, 3.97457841, 4.54107895, 3.98051374, 3.87996414,
       3.65382317, 3.4159416 , 4.03918605, 3.84430847, 4.03918605,
       3.95598386, 3.43520054, 3.43520054, 3.94624158, 4.16709012,
       3.74562707, 3.16177046, 2.89615996, 3.87996414, 3.65382317,
       3.76840892, 3.84430847, 3.83060186, 3.65382317, 3.83060186,
       4.03918605, 2.934539  , 3.84430847, 3.83060186, 3.65382317,
       4.09833335, 3.16177046, 3.65212276, 3.84430847, 3.76831748,
       3.68761053, 3.81890444, 3.84430847, 3.85131108, 3.91512417,
       3.84430847, 3.81890444, 3.55220479, 3.57603691, 4.05049803,
       4.1215187 , 4.02897883, 3.55220479, 3.84430847, 3.27968734,
       3.84430847, 3.84430847, 3.84430847, 3.16177046, 3.84430847,
       3.29640799, 3.87517702, 3.87342321, 3.84430847, 3.84430847,
       3.84430847, 4.03918605, 3.26755222, 3.97457841, 4.14034968,
       3.6139151 , 3.74562707, 3.87996414, 3.58385704, 3.95695358,
       3.51875308, 3.82535277, 3.45846751, 4.03918605, 4.09833335,
       3.85909034, 3.82643999, 3.74562707, 3.97457841, 3.81890444,
       3.62579744, 3.91903177, 3.84430847, 3.84430847, 3.27304299,
       3.83060186, 3.87342321, 3.78222697, 3.84430847, 3.79175305,
       4.57556924, 3.84430847, 3.84430847, 3.94624158, 3.84430847,
       3.57603691, 3.27968734, 3.84430847, 3.84430847, 3.16177046,
       3.98051374, 3.44254043, 3.64530236, 3.66445062, 3.87342321,
       3.95695358, 4.03918605, 3.84430847, 3.29023338, 3.83060186,
       3.76702982, 3.84430847, 3.51875308, 3.82643999, 3.97457841,
       3.73330117, 3.62246901, 3.27968734, 3.82643999, 3.84430847,
       3.74562707, 3.84430847, 3.84430847, 3.16177046, 3.98470321,
       3.84430847, 3.84430847, 3.65786917, 3.84430847, 3.62930405,
       3.85131108, 3.82856886, 3.45685616, 3.81083375, 3.84430847,
       3.55220479, 3.45846751, 3.16177046, 3.84430847, 3.81713682,
       3.87996414, 3.95239505, 3.95695358, 3.84430847, 3.65078278,
       3.65382317, 3.84430847, 4.05687086, 3.87996414, 3.6861387 ,
       4.1524305 , 3.87996414, 3.85131108, 3.84430847, 3.84430847,
       3.98051374, 3.50500849, 3.68538669, 3.58385704, 3.27968734,
       3.65382317, 3.94624158, 3.43520054, 4.05687086, 3.89995843,
       3.44331582, 3.85131108, 3.55220479, 3.69584789, 3.36215256,
       3.63127147, 3.85131108, 4.57556924, 3.65382317, 3.66536816,
       3.16177046, 3.57793356, 3.38179394, 3.80237597, 3.43520054,
       3.55220479, 3.84430847, 4.18010144, 3.64530236, 3.84430847,
       3.16177046, 4.03918605, 3.91512417, 3.83060186, 3.84430847,
       3.79091147, 3.55220479, 3.55220479, 3.27968734, 3.78222697,
       4.03918605, 3.82643999, 3.84430847, 3.84430847, 3.66445062,
       3.74562707, 3.84430847, 3.85131108, 3.74425727, 3.87996414,
       3.43520054, 3.84430847, 3.91500051, 3.84430847, 3.84430847,
       3.41089717, 3.85131108, 3.18942117, 3.76831748, 3.74562707,
       3.85131108, 3.16177046, 3.65382317, 3.84430847, 3.84430847,
       3.87996414, 3.84430847, 3.85131108, 3.84430847, 3.87996414,
       3.84430847, 3.87996414, 3.17857792, 3.55220479, 3.95248355,
       3.65382317, 3.83060186, 3.89303185, 3.611836  , 3.85131108,
       3.55220479, 3.94516058, 3.87996414, 4.03918605, 3.84430847,
       3.76397526, 4.7762707 , 3.65786917, 3.16177046, 3.84430847,
       3.81890444, 3.45685616, 3.65382317, 3.84430847, 3.65786917,
       3.55220479, 3.53053104, 3.43520054, 3.97457841, 3.74725823,
       3.94624158, 3.97729768, 3.78222697, 3.65382317, 3.80788995,
       3.85131108, 3.55220479, 3.55220479, 3.65382317, 4.03918605,
       3.84430847, 3.16177046, 3.94624158, 4.03918605, 4.0872723 ,
       3.84430847, 4.03918605, 3.85988654, 3.74562707, 3.16177046,
       3.84430847, 3.82643999, 3.79570796, 3.85131108, 3.92357802,
       3.85131108, 3.62246901, 3.83060186, 3.84430847, 3.95239505,
       4.03918605, 3.84430847, 3.39851514, 4.07317175, 3.72010225,
       3.84430847, 3.82643999, 3.74562707, 3.77431126, 3.84430847,
       4.05049803, 3.86402417, 3.98091126, 3.65382317, 3.69221028,
       4.02766918, 3.84430847, 4.19980268, 3.8692268 , 3.98356143,
       3.60792624, 3.65382317, 3.84430847, 3.16177046, 3.16177046,
       4.03918605, 3.74562707, 3.98051374, 3.43520054, 3.38179394,
       3.77431126, 3.78222697, 3.85988654, 3.55220479, 3.69584789,
       3.65382317, 3.96594916, 3.88763674, 3.7143296 , 4.49546953,
       3.81083375, 3.85131108, 4.19372128, 3.90480094, 3.85131108,
       3.39851514, 3.87342321, 3.85131108, 3.17857792, 3.84430847,
       3.16177046, 3.29640799, 2.91111242, 3.98051374, 4.03918605,
       3.84430847, 4.05687086, 3.65212276, 3.84430847, 3.83060186,
       3.55735363, 3.91528377, 3.76978293, 3.94645574, 3.95248355,
       3.21878706, 3.84430847, 3.65382317, 3.16177046, 3.84430847,
       3.84430847, 3.83060186, 3.77431126, 4.19372128, 4.03918605,
       3.84430847, 3.89303185, 3.84430847, 3.84430847, 3.84430847,
       3.84430847, 3.81890444, 3.91512417, 3.98051374, 3.84430847,
       3.9331063 , 3.84430847, 3.64913152, 3.87996414, 3.84430847,
       3.72963906, 3.89378077, 3.85131108, 3.76670608, 3.65382317,
       3.39851514, 3.7550868 , 3.84430847, 3.84430847, 3.84430847,
       3.8692268 , 3.55220479, 3.82643999, 3.84430847, 3.73330117,
       3.56979535, 3.65382317, 3.83060186, 3.84430847, 3.66539512,
       3.16177046, 3.84430847, 3.76702982, 3.44254043, 3.84430847,
       3.73375442, 3.44254043, 3.18942117, 3.92532107, 3.84430847,
       3.69221028, 3.35686704, 3.43816834, 3.61974574, 4.03918605,
       3.58385704, 3.79091147, 3.93816612, 3.83060186, 2.91111242,
       3.85131108, 4.02766918, 3.44331582, 3.84430847, 3.65078278,
       3.8611566 , 3.81890444, 4.03918605, 4.09833335, 3.47134707,
       4.03918605, 3.89303185, 3.84430847, 3.44331582, 3.65382317,
       3.44615643, 4.03918605, 3.6139151 , 3.94624158, 3.85131108,
       3.50500849, 3.74562707, 3.55220479, 3.84430847, 3.44254043,
       4.03918605, 3.9933164 , 3.84430847, 3.87996414, 3.16177046,
       3.51006727, 3.7550868 , 3.87996414, 4.03918605, 3.5753547 ,
       3.44331582, 3.95695358, 3.79175305, 3.65382317, 3.67041015,
       3.81534126, 2.91111242, 3.74562707, 3.85131108, 3.65786917,
       3.27968734, 3.84430847, 3.87996414, 3.12580499, 3.65382317,
       3.35686704, 4.10770099, 3.85131108, 4.05687086, 3.98051374,
       3.84430847, 3.98051374, 4.03918605, 3.62246901, 3.83060186,
       3.16177046, 3.84430847, 3.55220479, 3.87342321, 3.84430847,
       3.84430847, 3.71596294, 4.03918605, 3.65382317, 3.16177046,
       3.74725823, 3.65382317, 3.82643999, 3.85371285, 3.55220479,
       4.03918605, 3.84430847, 3.65382317, 3.87996414, 3.55220479,
       3.81887733, 3.55220479, 3.84430847, 3.17857792, 3.16177046,
       3.77784307, 3.65382317, 4.03918605, 3.98051374, 3.84430847,
       3.73330117, 4.09833335, 3.69221028, 3.61974574, 3.87342321,
       3.95239505, 4.03918605, 3.8784893 , 4.03918605, 3.16177046,
       3.16177046, 3.16177046, 4.03918605, 3.84430847, 3.84430847,
       4.03918605, 3.83060186, 3.87996414, 3.99584669, 3.84430847,
       3.74562707, 3.64530236, 4.03918605, 3.84430847, 3.98051374,
       3.85131108, 3.08763662, 4.17672672, 3.74562707, 3.65382317,
       3.85131108, 3.55220479, 3.68538669, 3.83850574, 3.87996414,
       3.26755222, 4.19372128, 3.84430847, 3.47320687, 3.91500051,
       3.62579744, 4.03918605, 3.16177046, 3.16177046, 3.84430847,
       3.65047545, 3.85131108, 4.03918605, 3.65382317, 3.65382317,
       3.65786917, 3.65212276, 3.84430847, 3.98470321, 3.87996414,
       3.87996414, 3.88763674, 3.83060186, 3.82643999, 3.55220479,
       4.03918605, 3.73330117, 4.03918605, 3.55220479, 3.65382317,
       3.10247372, 3.65382317, 3.82643999, 4.03918605, 4.02787718,
       3.84430847, 3.84430847, 3.41089717, 3.91436732, 4.05524018,
       3.84430847, 3.84430847, 3.87996414, 3.55220479, 3.85131108,
       3.30261391, 3.84430847, 4.03918605, 3.87996414, 3.68538669,
       3.72107838, 3.58385704, 3.94624158, 3.74562707, 4.03918605,
       3.85131108, 3.65786917, 3.73330117, 3.94624158, 3.68103844,
       3.95695358, 3.16177046, 3.43520054, 3.87996414, 4.03918605,
       3.75047607, 3.4429897 , 3.80612305, 3.85131108, 3.65382317,
       3.39851514, 3.83060186, 3.84430847, 3.81890444, 3.50194305,
       3.65212276, 3.65382317, 3.43520054, 3.45685616, 3.76408789,
       4.03918605, 3.72819907, 3.84430847, 4.08307926, 2.91111242,
       3.57603691, 3.85131108, 3.94624158, 3.84430847, 3.26569702,
       3.16177046, 3.65786917, 3.50185618, 3.65382317, 3.81129136,
       3.87996414, 3.17857792, 3.51609083, 3.85131108, 3.16177046,
       3.84430847, 4.16807578, 4.03918605, 4.03918605, 3.65382317,
       3.84430847, 4.03918605, 3.62246901, 3.16177046, 4.00783479,
       3.67041015, 3.89303185, 3.87996414, 3.83060186, 3.87996414,
       3.56811129, 4.19372128, 3.55220479, 3.84430847, 3.83060186,
       3.87996414, 3.16177046, 3.55220479, 3.65786917, 3.63325783,
       3.44331582, 3.82518583, 3.87996414, 3.16177046, 3.87342321,
       3.55220479, 3.84430847, 3.56382726, 3.81614462, 3.81438081,
       3.43520054, 3.57218939, 3.82856886, 3.29640799, 3.88976323,
       3.85131108, 3.81620326, 3.84436809, 3.85131108, 3.16177046,
       3.57603691, 3.55220479, 3.82643999, 3.83060186, 3.84430847,
       3.81614462, 3.84430847, 3.80237597, 3.84430847, 3.85371285,
       3.62246901, 3.68538669, 3.87996414, 3.62246901, 4.03918605,
       3.65382317, 3.84430847, 3.62246901, 3.84430847, 3.44254043,
       4.03918605, 3.85131108, 3.87996414, 4.02626737, 3.83060186,
       4.03918605, 3.65786917, 3.55220479, 3.83060186, 3.84179075,
       3.17857792, 3.86543593, 3.84430847, 3.16177046, 3.85131108,
       3.84430847, 4.03918605, 3.78222697, 3.65382317, 3.84430847,
       3.87996414, 3.87996414, 3.84430847, 3.65078278, 3.82643999,
       3.97066628, 4.00183952, 3.55220479, 3.85131108, 3.43520054,
       3.74562707, 3.95695358, 3.84430847, 3.84430847, 3.87996414,
       3.83758002, 3.84430847, 3.84430847, 4.03918605, 3.65382317,
       3.77431126, 3.84436809, 3.83060186, 3.82092358, 3.16177046,
       2.91111242, 3.89303185, 3.62579744, 3.76978293])

In [177]:
# pd.DataFrame(y_pred).max()

In [178]:
pd.DataFrame(y_pred).columns=['y_pred']

In [179]:
res = pd.DataFrame(y_pred)

In [180]:
res.columns = ['y']

In [181]:
res

             y
0     3.768333
1     3.796244
2     3.844308
3     3.847399
4     4.039186
...        ...
2057  3.851311
2058  3.851311
2059  3.851311
2060  3.851311
2061  3.851311

[2062 rows x 1 columns]

In [182]:
not_usr_data.join(res)[['movieId', 'title', 'y']].sort_values(by='y', ascending=False).head()

      movieId                       title         y
1819   161634        Don't Breathe (2016)  4.832321
1818   156605                    Paterson  4.832321
1820   164179              Arrival (2016)  4.832321
2044    68848  Brothers Bloom, The (2008)  4.595630
2042    68848  Brothers Bloom, The (2008)  4.595630