# Домашнее задание по теме «Рекомендации на основе содержания»


    1 Использовать dataset MovieLens
    2 Построить рекомендации (регрессия, предсказываем оценку) на фичах:

    TF-IDF на тегах и жанрах
    Средние оценки (+ median, variance, etc.) пользователя и фильма

    3 Оценить RMSE на тестовой выборке

In [370]:
import pandas as pd
import numpy as np
from datetime import datetime

from tqdm import tqdm_notebook

import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer
from sklearn.neighbors import NearestNeighbors

%matplotlib inline

In [371]:
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [372]:
# ratings

In [373]:
# tags

In [374]:
# movies

In [375]:
movies_with_tags = movies.join(tags.set_index('movieId'), on='movieId')

In [376]:
movies_with_tags

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,1.139046e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474.0,pixar,1.137207e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567.0,fun,1.525286e+09
1,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,fantasy,1.528844e+09
1,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,magic board game,1.528844e+09
...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,NaN,NaN,NaN
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,NaN,NaN,NaN
9739,193585,Flint (2017),Drama,NaN,NaN,NaN
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,NaN,NaN,NaN
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,NaN,NaN,NaN

In [377]:
# ratings

In [378]:
data = movies_with_tags.merge(ratings, on=['movieId', 'userId'])

In [379]:
data

,movieId,title,genres,userId,tag,timestamp_x,rating,timestamp_y
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,1.139046e+09,4.0,1122227329
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474.0,pixar,1.137207e+09,4.0,978575760
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567.0,fun,1.525286e+09,3.5,1525286001
3,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,fantasy,1.528844e+09,4.0,1528843890
4,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,magic board game,1.528844e+09,4.0,1528843890
...,...,...,...,...,...,...,...,...
3471,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,62.0,star wars,1.528935e+09,4.0,1528934550
3472,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,anime,1.537099e+09,3.5,1537098554
3473,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,comedy,1.537099e+09,3.5,1537098554
3474,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,gintama,1.537099e+09,3.5,1537098554
3475,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,remaster,1.537099e+09,3.5,1537098554

In [380]:
data.drop(['timestamp_x', 'timestamp_y'], axis=1, inplace=True)

In [381]:
data

,movieId,title,genres,userId,tag,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,4.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474.0,pixar,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567.0,fun,3.5
3,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,fantasy,4.0
4,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,magic board game,4.0
...,...,...,...,...,...,...
3471,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,62.0,star wars,4.0
3472,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,anime,3.5
3473,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,comedy,3.5
3474,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,gintama,3.5
3475,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184.0,remaster,3.5

In [382]:
# найдем средние оценки по фильмам

In [383]:
m_film_rating = data.groupby('movieId').agg(['mean']).drop(['userId'], axis=1)

In [384]:
m_film_rating.reset_index(inplace=True)

In [385]:
# m_film_rating

In [386]:
m_film_rating.columns = ['movieId', 'movie_mean']

In [387]:
# m_film_rating

In [388]:
#найдем средние оценки, которые ставит пользователь

In [389]:
m_user_rating = data.groupby('userId').agg(['mean']).drop(['movieId'], axis=1)

In [390]:
m_user_rating.reset_index(inplace=True)

In [391]:
m_user_rating.columns = ['userId', 'user_mean']

In [392]:
# m_user_rating

In [393]:
# data

In [394]:
data = data.merge(m_film_rating, on='movieId').merge(m_user_rating, on='userId')

In [395]:
data

,movieId,title,genres,userId,tag,rating,movie_mean,user_mean
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,4.0,3.833333,3.777778
1,552,"Three Musketeers, The (1993)",Action|Adventure|Comedy|Romance,336.0,knights,3.0,3.000000,3.777778
2,1246,Dead Poets Society (1989),Drama,336.0,highschool,4.5,4.500000,3.777778
3,32587,Sin City (2005),Action|Crime|Film-Noir|Mystery|Thriller,336.0,cult,4.0,4.000000,3.777778
4,33660,Cinderella Man (2005),Drama|Romance,336.0,boksdrama,4.5,4.250000,3.777778
...,...,...,...,...,...,...,...,...
3471,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,Cambodia,5.0,5.000000,5.000000
3472,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,crime,5.0,5.000000,5.000000
3473,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,human rights,5.0,5.000000,5.000000
3474,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,murder,5.0,5.000000,5.000000
3475,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,procedural,5.0,5.000000,5.000000

TF-IDF на жанрах

In [396]:
def change_string(s):
    return ' '.join(s.replace(' ', '').replace('-', '').split('|'))

In [397]:
movie_genres = [change_string(g) for g in data.genres.values]

In [398]:
# movie_genres[1]

In [399]:
# len(movie_genres)

In [400]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(movie_genres)

In [401]:
# X_train_counts.shape

In [402]:
# X_train_counts.todense()[1]

In [403]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [404]:
# X_train_tfidf.todense()[1]

In [405]:
# pd.DataFrame(X_train_tfidf.todense())

In [406]:
# Поменяем названия столбцов

In [407]:
# функция для переименования столбцов
def ren_col(columns, prefix):
    names = []
    for p in list(columns):
        names.append(prefix+'_{}'.format(p))
#         print(p)
    return names

In [408]:
prefix='genre'
columns= pd.DataFrame(X_train_tfidf.todense()).columns
g_columns = ren_col(pd.DataFrame(X_train_tfidf.todense()).columns, prefix)

In [409]:
tf_g = pd.DataFrame(X_train_tfidf.todense())
tf_g.columns = g_columns
tf_g.head()

,genre_0,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7,genre_8,genre_9,genre_10,genre_11,genre_12,genre_13,genre_14,genre_15,genre_16,genre_17,genre_18,genre_19
0,0.000000,0.379419,0.504921,0.536492,0.292207,0.000000,0.0,0.0000,0.477376,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
1,0.484561,0.543606,0.000000,0.000000,0.418655,0.000000,0.0,0.0000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.542605,0.0,0.000000,0.0,0.0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.0000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
3,0.331342,0.000000,0.000000,0.000000,0.000000,0.332872,0.0,0.0000,0.000000,0.716513,0.0,0.0,0.0,0.425705,0.0,0.000000,0.0,0.291191,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.4875,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.873123,0.0,0.000000,0.0,0.0

TF-IDF на тэгах

In [410]:
movie_tags = [change_string(t) for t in data.tag.values]

In [411]:
len(movie_tags)

3476

In [412]:
# movie_tags

In [413]:
# data['tag'].nunique()

In [414]:
count_vect_t = CountVectorizer()
X_train_counts_t = count_vect_t.fit_transform(movie_tags)

In [415]:
# X_train_counts_t.shape

In [416]:
# X_train_counts_t.todense()[0]

In [417]:
tfidf_transformer_t = TfidfTransformer()
X_train_tfidf_t = tfidf_transformer_t.fit_transform(X_train_counts_t)

In [418]:
# pd.DataFrame(X_train_tfidf_t.todense())

In [419]:
# переименуем столбцы

In [420]:
prefix='tag'
columns= pd.DataFrame(X_train_tfidf_t.todense()).columns
t_columns = ren_col(pd.DataFrame(X_train_tfidf_t.todense()), prefix)

In [421]:
tf_t = pd.DataFrame(X_train_tfidf_t.todense())
tf_t.columns = t_columns
tf_t

,tag_0,tag_1,tag_2,tag_3,tag_4,tag_5,tag_6,tag_7,tag_8,tag_9,...,tag_1426,tag_1427,tag_1428,tag_1429,tag_1430,tag_1431,tag_1432,tag_1433,tag_1434,tag_1435
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3471,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3473,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3474,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3475,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [422]:
# tf_t.describe()

Объединим в одну таблицу

In [423]:
data = data.join(tf_g).join(tf_t)

In [424]:
data

,movieId,title,genres,userId,tag,rating,movie_mean,user_mean,genre_0,genre_1,...,tag_1426,tag_1427,tag_1428,tag_1429,tag_1430,tag_1431,tag_1432,tag_1433,tag_1434,tag_1435
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,4.0,3.833333,3.777778,0.000000,0.379419,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,552,"Three Musketeers, The (1993)",Action|Adventure|Comedy|Romance,336.0,knights,3.0,3.000000,3.777778,0.484561,0.543606,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1246,Dead Poets Society (1989),Drama,336.0,highschool,4.5,4.500000,3.777778,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,32587,Sin City (2005),Action|Crime|Film-Noir|Mystery|Thriller,336.0,cult,4.0,4.000000,3.777778,0.331342,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,33660,Cinderella Man (2005),Drama|Romance,336.0,boksdrama,4.5,4.250000,3.777778,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3471,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,Cambodia,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3472,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,crime,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3473,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,human rights,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3474,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,murder,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3475,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,procedural,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Найдем пользователя, который поставил наибольшее количество оценок

In [425]:
data.groupby('userId').count()['rating'].sort_values(ascending=False).head()

userId
474.0    1414
567.0     432
62.0      370
599.0     323
477.0     267
Name: rating, dtype: int64

Отфильтруем наши данные для пользователя 474

In [426]:
usr_data = data[data['userId'] == 474]

In [427]:
usr_data

,movieId,title,genres,userId,tag,rating,movie_mean,user_mean,genre_0,genre_1,...,tag_1426,tag_1427,tag_1428,tag_1429,tag_1430,tag_1431,tag_1432,tag_1433,tag_1434,tag_1435
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474.0,pixar,4.0,3.833333,3.701909,0.000000,0.379419,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2,Jumanji (1995),Adventure|Children|Fantasy,474.0,game,3.0,3.750000,3.701909,0.000000,0.467149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,5,Father of the Bride Part II (1995),Comedy,474.0,pregnancy,1.5,1.500000,3.701909,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,5,Father of the Bride Part II (1995),Comedy,474.0,remake,1.5,1.500000,3.701909,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,7,Sabrina (1995),Comedy|Romance,474.0,remake,3.0,3.000000,3.701909,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1418,40819,Walk the Line (2005),Drama|Musical|Romance,474.0,Johnny Cash,4.0,4.000000,3.701909,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1419,41566,"Chronicles of Narnia: The Lion, the Witch and ...",Adventure|Children|Fantasy,474.0,C.S. Lewis,4.5,4.500000,3.701909,0.000000,0.467149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1420,41997,Munich (2005),Action|Crime|Drama|Thriller,474.0,In Netflix queue,4.0,4.000000,3.701909,0.561435,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1421,42002,"Producers, The (2005)",Comedy|Musical,474.0,In Netflix queue,4.0,4.000000,3.701909,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1422,42740,Looking for Comedy in the Muslim World (2005),Comedy,474.0,In Netflix queue,3.5,3.500000,3.701909,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [428]:
# usr_data.describe()

Выделим входные и выходные данные, разделим на тестовую и обучающую части

In [429]:
y = usr_data['rating']
y

9       4.0
10      3.0
11      1.5
12      1.5
13      3.0
       ...
1418    4.0
1419    4.5
1420    4.0
1421    4.0
1422    3.5
Name: rating, Length: 1414, dtype: float64

In [430]:
X = usr_data.iloc[:, 8:1464]
X

,genre_0,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7,genre_8,genre_9,...,tag_1426,tag_1427,tag_1428,tag_1429,tag_1430,tag_1431,tag_1432,tag_1433,tag_1434,tag_1435
9,0.000000,0.379419,0.504921,0.536492,0.292207,0.000000,0.0,0.000000,0.477376,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.000000,0.467149,0.000000,0.660541,0.000000,0.000000,0.0,0.000000,0.587756,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.000000,0.000000,0.000000,0.000000,0.610872,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1418,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.286548,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1419,0.000000,0.467149,0.000000,0.660541,0.000000,0.000000,0.0,0.000000,0.587756,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1420,0.561435,0.000000,0.000000,0.000000,0.000000,0.564029,0.0,0.351021,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1421,0.000000,0.000000,0.000000,0.000000,0.439624,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1422,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [431]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse

In [432]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

Обучим модель, проверим rmse

In [433]:
model = LinearRegression().fit(X_train, y_train)

In [434]:
y_pred_test = model.predict(X_test)
y_pred_train = model.predict(X_train)

In [435]:
mse(y_test, y_pred_test, squared=False)

16656634711315.158

In [436]:
# y_pred_test

In [437]:
# usr_data['rating'].unique()

Отфильтруем данные, для фильмов, которые не смотрел пользователь 474

In [438]:
not_usr_data = data[data['userId'] != 474]

In [439]:
not_usr_data

,movieId,title,genres,userId,tag,rating,movie_mean,user_mean,genre_0,genre_1,...,tag_1426,tag_1427,tag_1428,tag_1429,tag_1430,tag_1431,tag_1432,tag_1433,tag_1434,tag_1435
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,4.0,3.833333,3.777778,0.000000,0.379419,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,552,"Three Musketeers, The (1993)",Action|Adventure|Comedy|Romance,336.0,knights,3.0,3.000000,3.777778,0.484561,0.543606,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1246,Dead Poets Society (1989),Drama,336.0,highschool,4.5,4.500000,3.777778,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,32587,Sin City (2005),Action|Crime|Film-Noir|Mystery|Thriller,336.0,cult,4.0,4.000000,3.777778,0.331342,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,33660,Cinderella Man (2005),Drama|Romance,336.0,boksdrama,4.5,4.250000,3.777778,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3471,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,Cambodia,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3472,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,crime,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3473,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,human rights,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3474,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,murder,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3475,152711,Who Killed Chea Vichea? (2010),Documentary,462.0,procedural,5.0,5.000000,5.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

предскажем оценки

In [440]:
X_n = not_usr_data.iloc[:, 8:1464]

In [441]:
X_n

,genre_0,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7,genre_8,genre_9,...,tag_1426,tag_1427,tag_1428,tag_1429,tag_1430,tag_1431,tag_1432,tag_1433,tag_1434,tag_1435
0,0.000000,0.379419,0.504921,0.536492,0.292207,0.000000,0.0,0.0000,0.477376,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.484561,0.543606,0.000000,0.000000,0.418655,0.000000,0.0,0.0000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.0000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.331342,0.000000,0.000000,0.000000,0.000000,0.332872,0.0,0.0000,0.000000,0.716513,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.4875,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3471,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3472,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3473,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3474,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3475,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [442]:
y_pred = model.predict(X_n)

In [443]:
y_pred

array([4.15993205, 4.35805853, 3.85464965, ..., 4.75558373, 3.63287575,
       4.75558373])

In [444]:
res = pd.DataFrame(y_pred)

In [445]:
res.columns = ['pred_rating']

In [446]:
recom = not_usr_data.join(res)[['movieId', 'title', 'pred_rating']].sort_values(by='pred_rating', ascending=False)

In [447]:
recom

      movieId                                              title   pred_rating
1733   106766                         Inside Llewyn Davis (2013)  9.658906e+13
1743   109487                                Interstellar (2014)  9.586864e+13
1596     7024  Salo, or The 120 Days of Sodom (Salò o le 120 ...  9.286427e+13
2026    60126                                   Get Smart (2008)  8.359771e+13
1760   113705  Two Days, One Night (Deux jours, une nuit) (2014)  7.765888e+13
...       ...                                                ...           ...
3471   152711                     Who Killed Chea Vichea? (2010)           NaN
3472   152711                     Who Killed Chea Vichea? (2010)           NaN
3473   152711                     Who Killed Chea Vichea? (2010)           NaN
3474   152711                     Who Killed Chea Vichea? (2010)           NaN
3475   152711                     Who Killed Chea Vichea? (2010)           NaN

[2062 rows x 3 columns]

In [449]:
recom[recom['pred_rating']<=5]

      movieId                                              title   pred_rating
1830   167746                       The Lego Batman Movie (2017)  4.972232e+00
1935     8641       Anchorman: The Legend of Ron Burgundy (2004)  4.965647e+00
1983    38061                         Kiss Kiss Bang Bang (2005)  4.965647e+00
1750   112421                                       Frank (2014)  4.965647e+00
1752   112421                                       Frank (2014)  4.965647e+00
...       ...                                                ...           ...
2023    60074                                     Hancock (2008) -9.677884e+13
2036    63992                                    Twilight (2008) -9.677884e+13
1437      750  Dr. Strangelove or: How I Learned to Stop Worr... -9.678137e+13
1423        1                                   Toy Story (1995) -1.000282e+14
1766   116797                          The Imitation Game (2014) -1.306449e+14

[463 rows x 3 columns]

Для получения похожего на адекватный результат пришлось исключить среднюю оценку фильма и среднюю оценку пользователя. В целом мне показалось, что использование TF-Idf на тегах так себе идея.

Дополнительно для сравнения без использования TF-Idf на тегах, результаты очень похожи на правду.

In [450]:
X = usr_data.iloc[:, 8:28]
X

,genre_0,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7,genre_8,genre_9,genre_10,genre_11,genre_12,genre_13,genre_14,genre_15,genre_16,genre_17,genre_18,genre_19
9,0.000000,0.379419,0.504921,0.536492,0.292207,0.000000,0.0,0.000000,0.477376,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
10,0.000000,0.467149,0.000000,0.660541,0.000000,0.000000,0.0,0.000000,0.587756,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
11,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
12,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
13,0.000000,0.000000,0.000000,0.000000,0.610872,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.791730,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1418,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.286548,0.000000,0.0,0.0,0.0,0.809012,0.0,0.0,0.513215,0.0,0.000000,0.0,0.0
1419,0.000000,0.467149,0.000000,0.660541,0.000000,0.000000,0.0,0.000000,0.587756,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1420,0.561435,0.000000,0.000000,0.000000,0.000000,0.564029,0.0,0.351021,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.493402,0.0,0.0
1421,0.000000,0.000000,0.000000,0.000000,0.439624,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.898182,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0
1422,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0

In [451]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [452]:
model = LinearRegression().fit(X_train, y_train)

In [453]:
y_pred_test = model.predict(X_test)
y_pred_train = model.predict(X_train)

In [454]:
mse(y_test, y_pred_test, squared=False)

0.7188506028093076

In [455]:
not_usr_data = data[data['userId'] != 474]

In [456]:
# not_usr_data

In [457]:
X_n = not_usr_data.iloc[:, 8:28]

In [458]:
y_pred = model.predict(X_n)

In [459]:
y_pred

array([3.62147914, 3.63594458, 3.84564636, ..., 3.74488266, 3.74488266,
       3.74488266])

In [460]:
pd.DataFrame(y_pred).columns=['y_pred']
res = pd.DataFrame(y_pred)
res.columns = ['pred_rating']

In [461]:
not_usr_data.join(res)[['movieId', 'title', 'pred_rating']].sort_values(by='pred_rating', ascending=False).head(10)

      movieId                                              title  pred_rating
1782   122916                              Thor: Ragnarok (2017)     4.815833
1783   122916                              Thor: Ragnarok (2017)     4.815833
1785   122922                              Doctor Strange (2016)     4.815833
1786   127298  A Pigeon Sat on a Branch Reflecting on Existen...     4.815833
1781   122916                              Thor: Ragnarok (2017)     4.815833
1780   122916                              Thor: Ragnarok (2017)     4.815833
1779   122916                              Thor: Ragnarok (2017)     4.815833
1778   122912             Avengers: Infinity War - Part I (2018)     4.815833
1777   122912             Avengers: Infinity War - Part I (2018)     4.815833
1776   122912             Avengers: Infinity War - Part I (2018)     4.815833